@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Inconsolata:wght@300&family=PT+Sans&family=Sora:wght@100&display=swap');




.data-section{
    color: white;
    background-color: rgb(30,30,30);
    width: 99.5%;
    border-bottom-right-radius: 1rem;
    display: flex;
    flex-direction: column;
    font-family: 'Barlow', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Sora', sans-serif;
}

.data-section-top-bar{
    height: 1.2rem;
    position: absolute;
    top: 0;
    margin-top: 1.7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.data-section-top-bar p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.gen-info-wrapper{
    margin-right: 2.5rem;
    width: 50%;
    height: 75%;
    margin-top: 1.5rem;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.my-img{
    width: 15rem;
    height: 15rem;
    border-radius: 20rem;
}

.bio{
    width: 70%;
    border-radius: 1rem;
    background: rgb(51,51,51);
}

.bio p{
    text-align: center;
    font-weight: bold;
}

.resume-section{
    /* background: chartreuse; */
    height: 90%;
    width: 80%;
    align-self: center;
    margin: auto;
}

.resume-section img{
    width: 60%;
    height: 100%;
}

.education-section{
    background: chocolate;
    margin: auto;
    width: 90%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 2rem;
    background-color: rgb(51,51,51);
    padding-left: 1rem;
}

.education-section h3{
    margin: auto;
}


.experience-section{
    overflow: scroll;
}

.experience{
    margin: auto;
    width: 90%;
    height: 13rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    border-radius: 2rem;
    background-color: rgb(51,51,51);
    padding-left: 1rem;
    margin-bottom: 2rem;
}




.bullet-points {
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    height: 50%;
    margin-bottom: 1.5rem;
}

.role-info{
    background: rgb(51,51,51);
    border-top-right-radius: 1rem;
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 3rem;
    align-self: flex-start;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
}


.projects-section{
    overflow: scroll;
}

.project{
    background: chocolate;
    margin: auto;
    width: 90%;
    height: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: flex-start; */
    border-radius: 2rem;
    background-color: rgb(51,51,51);
    padding-left: 1rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.project-show{
    background: rgb(30,30,30);
    width: 5rem;
    height: 5rem;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;

}


.project-links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-links img{
    height: 3rem;
    width: 3rem;
}

.project-links button{
    height: 3rem;
    width: 3rem;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
