body{
    background-color: white;
    padding-top: 2px;
    background-image: url('../assets/background.jpeg');
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

.main{
    width: 99.5%;
    margin: auto;
}

.apple-top-bar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 1.7rem;
    background: rgb(98,163,213);
    backdrop-filter: blur(20px);
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shortcuts{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background: pink; */
    width: 24%;
    justify-content: space-between;
    color: white;
}

.shortcuts p{
    font-size: 14px;
}

.shortcuts img{
    margin-left: 1rem;
    margin-bottom: 0.2rem;
    width: 1.1rem;
    height: 1.1rem;
}

.app-left-bar{
    /* background: pink; */
    color: white;
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.app-left-bar img{
    width: 1rem;
    height: 1rem;
}


.doc{
    position: absolute;
    bottom: 0;
    margin-bottom: 0.3rem;
    left:37% ;
    background: transparent;
    backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    z-index: -1;
    width: 25%;
    height: 4rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgb(0 0 0 / 36%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.app-doc-btn{
    border-radius: 0.7rem;
    background: white;
    border: none;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.doc-btn{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border : none;
    cursor: pointer;
}

.vl {
    border-left: 1px solid lightgray;
    height: 3rem;
    background-color: white;
  }


.doc-img{
    height: 3.7rem;
    width: 3.7rem;
}

.doc .s-img{
    height: 2.8rem;
    width: 2.8rem;
}

.workspace-container{
    display: flex;
    flex-direction: row;
    background: rgb(30,30,30);
    height: 96vh;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 0.7rem;
}

.left-bar{
    width: 5%;
    background: rgb(51,51,51);
    display: flex;    
    border-bottom-left-radius: 1rem;
}

.links-container{
    height: 40%;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.links-container img{
    width: 3rem;
    height: 3rem;
    border-radius: 10%;
}

.links-container img:hover{
    background: whitesmoke;
    cursor: pointer;
}

.explorer{
    background-color: rgb(38,37,38);
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.explorer-title{
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center ;
}

.explorer-title p{
    color: white;
    margin-left: 1.5rem;
    cursor: default;
}

.resume{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.resume-title{
    background: rgb(38,37,38);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0.2rem;
    height: 2rem;
}

.resume-title p{
    margin-left: 0.2rem;
    color: white;
    margin-bottom: 1.2rem;
    font-weight: bold;
    cursor: default;
}

.resume-title img{
    height: 1rem;
    width: 1rem;
}

.info-section{
    background: rgb(38,37,38);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section{
    width: 100%;
    height: 1.7rem;
    display: flex;
    justify-content: flex-start;
    align-items: center ;
}

.section:hover{
    background: rgb(56,55,61);
    cursor: pointer;
}

.section-title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center ;
    margin-left: 1rem;
}

.section p{
    color: white;
    margin-top: 0.8rem;
    margin-left: 0.2rem;
    cursor: default;
}

.section img{
    height: 0.8rem;
    width: 0.8rem;
}

.subsection {
    width: 100%;
    height: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.subsection p{
    /* background: pink; */
    overflow-x: auto;
    height: 1.2rem;
}

.subsection:hover{
    background: rgb(56,55,61);
    cursor: pointer;
}

.subsection-title{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.subsection p{
    color: white;
    margin-top: 1rem;
    margin-left: 0.3rem;
    cursor: default;
}

.subsection img{
    height: 0.9rem;
    width: 0.9rem;
}