.top-bar{
    background: rgb(60,60,60);
    height: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

.circles-container{
    /* background: pink; */
    top: 0.2;
    left: 0;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: row;
    width: 3.5rem;
    position: absolute;
    align-items: center;
    justify-content: space-around;
}

.top-bar-circle{
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar-title{
    color: rgb(204,204,204);
    align-self: center;
}